*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#imagenDoctor {
    width: 100%;
}

main {
    background-color: #f5f3e4;
}

#colorFondoCard {
    background-color: #f5f3e4;
}

#contenedorFormSolicitarTurno {
    background-color: white;
    border: solid 1px black;
    
}

#reseñasPacientes {
    background-color: #ecfafb;
}