#imagencarousel{
    width: 1000px;
    height: 800px;
    object-fit: cover;
}

main{
    background-color: #FFF1BB;
}
#backgroundBotones{ 
    background-color:#fcfaee ;
}


#color-contenedor-iconos-index {
    background-color: #f5f0e2;
}

#imagen-centro-medico-index {
    width: 90%;
    object-fit: cover;
}

#contenedor-nuestro-centro-medico {
    background-color:#fcfaee;
}